
<!doctype html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Quicksand|Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <meta charset="utf-8" />
  <title>Class Chemistry &middot; Isotope</title>
  
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  <link rel="stylesheet" href="./css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Fauna+One|Alegreya' rel='stylesheet' type='text/css'>
  
  <!-- scripts at bottom of page -->
  
  <script src="http://desandro.com/mint/?script"></script> <!-- analytics -->

</head>
<body class="demos ">

	<h1 align="center">Class Chemistry</h1>
<div id="container" class="clickable clearfix">
    
          <% @courses.size.times do |x| %>

<div class='<%= @types[x] %>'   data-symbol="H" data-category="noble-gas">
      <p class="number"><%= @courses[x].course_num%></p>
      <h3 class="symbol"><%= @courses[x].department%></h3>
      <h2 class="name"><%= @courses[x].name%></h2>
      <span id="class_info"> </span>

      <p class="seats">Seats Open: (<%=@courses[x].open_seats%>/<%=@courses[x].total_seats%>)</p>
     
    </div>


<% end %>
    
    
          
    <div class="element alkaline-earth metal   " data-symbol="He" data-category="alkaline-earth">
      <p class="number">110</p>
      <h3 class="symbol">GEOG</h3>
      <h2 class="name">The World Today: Global Perspectives</h2>
      <p class="weight">Credits: 1</p>
      <p class="seats">Seats Open: 22</p>
    </div>
    
          
    <div class="element alkali metal   " data-symbol="Li" data-category="alkali">
      <p class="number">270</p>
      <h3 class="symbol">CMLT</h3>
      <h2 class="name">Global Literature and Social Change</h2>
      <p class="weight">Credits: 3</p>
      <p class="seats">Seats Open: 0</p>
    </div>
    
          
    <div class="element halogen nonmetal   " data-symbol="Be" data-category="halogen">
      <p class="number">340</p>
      <h3 class="symbol">MATH</h3>
      <h2 class="name">Multivariable Calculus, Linear Algebra and Differential Equations I (Honors)</h2>
      <p class="weight">Credits: 4</p>
      <p class="seats">Seats Open: 120</p>
    </div>
    
          
    <div class="element metalloid   " data-symbol="B" data-category="metalloid">
      <p class="number">246</p>
      <h3 class="symbol">MATH</h3>
      <h2 class="name">Differential Equations</h2>
      <p class="weight">Credits: 4</p>
      <p class="seats">Seats Open: 295</p>
    </div>
    
    
  </div> <!-- #container -->
  
  <script src="./js/jquery-1.7.1.min.js"></script>

  <script src="./js/jquery.isotope.min.js"></script>
  <script src="./js/fake-element.js"></script>
<script>

 

  $(function(){
    
    var $container = $('#container');
 
      // add randomish size classes
      $container.find('.element').each(function(){
        var $this = $(this),
            number = parseInt( $this.find('.number').text(), 10 );
        if ( number % 7 % 2 === 1 ) {
          $this.addClass('width2');
        }
        if ( number % 3 === 0 ) {
          $this.addClass('height2');
        }
      });
    
    $container.isotope({
      itemSelector : '.element',
      masonry : {
        columnWidth : 5
      },
      masonryHorizontal : {
        rowHeight: 70
      },
      cellsByRow : {
        columnWidth : 240,
        rowHeight : 240
      },
      cellsByColumn : {
        columnWidth : 240,
        rowHeight : 240
      },
      getSortData : {
        symbol : function( $elem ) {
          return $elem.attr('data-symbol');
        },
        category : function( $elem ) {
          return $elem.attr('data-category');
        },
        number : function( $elem ) {
          return parseInt( $elem.find('.number').text(), 10 );
        },
        weight : function( $elem ) {
          return parseFloat( $elem.find('.weight').text().replace( /[\(\)]/g, '') );
        },
        name : function ( $elem ) {
          return $elem.find('.name').text();
        }
      }
    });
    
    
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          $container.isotope( options );
        }
        
        return false;
      });


    
      // change layout
      var isHorizontal = false;
      function changeLayoutMode( $link, options ) {
        var wasHorizontal = isHorizontal;
        isHorizontal = $link.hasClass('horizontal');

        if ( wasHorizontal !== isHorizontal ) {
          // orientation change
          // need to do some clean up for transitions and sizes
          var style = isHorizontal ? 
            { height: '80%', width: $container.width() } : 
            { width: 'auto' };
          // stop any animation on container height / width
          $container.filter(':animated').stop();
          // disable transition, apply revised style
          $container.addClass('no-transition').css( style );
          setTimeout(function(){
            $container.removeClass('no-transition').isotope( options );
          }, 100 )
        } else {
          $container.isotope( options );
        }
      }
    
      // change size of clicked element, return all others to normal, so only one can be open at a time
      $container.delegate( '.element', 'click', function(){
        atoms = $container.data('isotope').$filteredAtoms
        atoms.removeClass('large')
        $(this).toggleClass('large');
        //$('#class_info').toggle();
        $container.isotope('reLayout');
        
      });

      // toggle variable sizes of all elements
      $('#toggle-sizes').find('a').click(function(){
        $container
          .toggleClass('variable-sizes')
          .isotope('reLayout');
        return false;
      });


    
      $('#insert a').click(function(){
        var $newEls = $( fakeElement.getGroup() );
        $container.isotope( 'insert', $newEls );

        return false;
      });

      $('#append a').click(function(){
        var $newEls = $( fakeElement.getGroup() );
        $container.append( $newEls ).isotope( 'appended', $newEls );

        return false;
      });




  });
</script>
  </body>
</html>



